<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedEasy</title>
    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/public/css/index1.css" />
    <link rel="stylesheet" href="/public/css/index2.css" /> -->
  </head>
  <body>
    <section class="background">
      <nav>
        <div class="nav-title">MedEasy</div>
        <div class="nav-links">
          <div class="nav-link">Blog</div>
          <div class="nav-link">About</div>
          <div class="nav-link">Contact Us</div>
        </div>
      </nav>
      <div class="landing">
        <div>
          <div class="landing-title">
            Modern Way Of Health Management
          </div>
          <p>
            Aliquip irure consequat consectetur sint magna ut quis culpa
            consequat incididunt irure. Cupidatat ut laboris veniam sunt laborum
            cillum Lorem voluptate dolor culpa proident nostrud aliqua
            adipisicing. Est sit magna commodo adipisicing ex qui.
          </p>
          <div class="btns">
            <button class="btn btn-solid">
              <a style="color: black;" href="#down">Patient</a>
            </button>
            <button class="btn btn-outline"><a href="#down">Hospital</a></button>
          </div>
        </div>
        <div class="illustration">
          <img
            src="/images/Doctor Explain How to Preventing Coronavirus.jpg"
            alt="illustration"
          />
        </div>
      </div>
    </section>

    <div class="container" id="down">
      <div class="patient">
        <div class="img">
          <img src="/images/patient.jpg" alt="patient" />
        </div>
        <div class="patient-head">Patient</div>
        <div class="patient-description">
          Reprehenderit quis cupidatat ullamco ipsum velit esse aliqua irure
          sunt occaecat mollit nisi ullamco irure.Est duis pariatur occaecat
          consectetur deserunt non magna anim ullamco mollit voluptate.
        </div>
        <div class="btns">
          <button class="btn btn-solid"><a href="/login" style="color:black">Login</a></button>
          <button class="btn btn-outline"><a href="/register/patient">Register</a></button>
        </div>
      </div>
      <div class="patient">
        <div class="img">
          <img src="/images/pexels-daan-stevens-939325.jpg" alt="patient" />
        </div>
        <div class="patient-head">Hospital Staff</div>
        <div class="patient-description">
          Reprehenderit quis cupidatat ullamco ipsum velit esse aliqua irure
          sunt occaecat mollit nisi ullamco irure.Est duis pariatur occaecat
          consectetur deserunt non magna anim ullamco mollit voluptate.
        </div>
        <div class="btns">
          <button class="btn btn-solid"><a href="/login" style="color:black">Login</a></button>
          <button class="btn btn-outline"><a href="/register/hosp">Register</a></button>
        </div>
      </div>
    </div>

    <section class="blog-section">
      <h1>Blog</h1>
      <div class="article-container">
        <div class="article">
          <img src="/images/doc1.jpg" alt="blog1" />
          <div class="content">
            <h4>
              Virtual Report Analysis
            </h4>
            <p>
              The world is getting smaller and
              <!-- <br /> -->
              we are becoming more mobile.So,
              <!-- <br /> -->
              why should you be forced to only
              <!-- <br /> -->
              recieve money in a single...
            </p>
          </div>
        </div>
        <div class="article">
          <img src="/images/doc1.jpg" alt="blog1" />
          <div class="content">
            <h4>
              Virtual Report Analysis
            </h4>
            <p>
              The world is getting smaller and
              <!-- <br /> -->
              we are becoming more mobile.So,
              <!-- <br /> -->
              why should you be forced to only
              <!-- <br /> -->
              recieve money in a single...
            </p>
          </div>
        </div>
        <div class="article">
          <img src="/images/doc1.jpg" alt="blog1" />
          <div class="content">
            <h4>
              Virtual Report Analysis
            </h4>
            <p>
              The world is getting smaller and
              <!-- <br /> -->
              we are becoming more mobile.So,
              <!-- <br /> -->
              why should you be forced to only
              <!-- <br /> -->
              recieve money in a single...
            </p>
          </div>
        </div>
        <div class="article">
          <img src="/images/doc1.jpg" alt="blog1" />
          <div class="content">
            <h4>
              Virtual Report Analysis
            </h4>
            <p>
              The world is getting smaller and
              <!-- <br /> -->
              we are becoming more mobile.So,
              <!-- <br /> -->
              why should you be forced to only
              <!-- <br /> -->
              recieve money in a single...
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="footer-new">
      <div class="description">
        Commodo eu aliqua labore nulla enim voluptate magna. Pariatur enim
        adipisicing sint pariatur consequat. Proident ut sint anim amet. Veniam
        elit culpa deserunt labore consequat sit irure aute enim veniam
        reprehenderit. Qui proident aute nisi sint incididunt est nulla culpa
        minim magna aliquip id enim laborum. Voluptate ut eiusmod cupidatat
        veniam mollit enim veniam ullamco do. Do mollit Lorem eiusmod esse. Id
        occaecat aliqua elit irure et. Dolor adipisicing eu ea ea elit
        adipisicing et. Pariatur fugiat ad id ullamco est id fugiat duis
        nostrud. Minim enim non eu pariatur ea adipisicing ad sint aute ipsum
        aliqua. Adipisicing qui Lorem aliqua nostrud consequat dolore voluptate
        est.
      </div>
      <footer class="footer">
        <div class="footer-container">
          <div class="social-container">
            <img src="/images/icon-facebook.svg" alt="" />
            <img src="/images/icon-instagram.svg" alt="" />
            <img src="/images/icon-twitter.svg" alt="" />
            <img src="/images/icon-pinterest.svg" alt="" />
          </div>
          <div class="menu">
            <ul>
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </div>
          <div class="menu">
            <ul>
              <li><a href="#">Carriers</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <button class="last-btn">Request Invite</button>
        </div>
      </footer>
    </section>
  </body>
</html>
